@import url('./font.css');
/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Root Variables */
:root {
  --color-nav: #f8f8f8;
  --color-primary: #ff5722;
  --color-white: #fff;
  --color-black: #000;
  --radius-md: 8px;
  --radius-lg: 32px;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.5rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
}
/* Block & Container */
.block {
  padding: 0 2rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Buttons */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 1rem 3rem;
  border-radius: var(--radius-md);
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* Navbar */
.main-header {
  background-color: var(--color-nav);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.nav__logo > h1 {
  font-size: 3.5rem;
}
.nav__items {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__items {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .nav__item > a {
    transition: all 0.2s ease-in;
  }
  .nav__item > a:hover {
    color: var(--color-primary);
  }
}
/* Banner */
.banner {
  background-image: url('/public/images/banner.png');
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner__links {
  background: rgb(23, 26, 60);
  background: linear-gradient(90deg, rgba(23, 26, 60, 0.7) 0%, rgba(23, 26, 60, 0.3) 0%);
  color: var(--color-white);
  padding: 2rem;
  border-radius: var(--radius-lg);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}
.banner__links__title {
  margin-bottom: 1.5rem;
}
.banner__links__subtitle {
  margin-bottom: 3rem;
  font-weight: 700;
}
.banner__links__icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner__links__icon {
  display: block;
  white-space: nowrap;
  text-align: center;
}
.banner__links__icon--solid {
  background-color: var(--color-white);
  color: var(--color-black);
}
.banner__links__icon--outline {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}
.banner__mockupPhone {
  display: none;
}
@media screen and (min-width: 768px) {
  .banner__links {
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(-10%);
  }
  .banner__links__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .banner__mockupPhone {
    display: block;
    position: absolute;
    top: 20%;
    left: 7%;
  }
  .banner__mockupPhone__img {
    width: 560px;
    height: 860px;
  }
}
